<div class="row">
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Area Chart">
      <google-chart [data]="areaChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Stacking Area Chart">
      <google-chart [data]="stackingAreaChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Bar Chart">
      <google-chart [data]="barChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Bubble Chart">
      <google-chart [data]="bubbleChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Candlestick Chart">
      <google-chart [data]="candlestickChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Exploading A Slice Chart">
      <google-chart [data]="explodingChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Donut Chart">
      <google-chart [data]="donutChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-8 col-md-6">
    <app-card cardTitle="Geo Chart">
      <google-chart [data]="geoChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4">
    <app-card cardTitle="Vega chart">
      <div class="table-responsive">
        <google-chart [data]="vegaChartData"></google-chart>
      </div>
    </app-card>
  </div>
  <div class="col-xl-8">
    <app-card cardTitle="Timeline chart">
      <google-chart [data]="timelineChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Combo Chart">
      <google-chart [data]="comboChartData"></google-chart>
    </app-card>
  </div>
</div>
