<div class="auth-main">
  <div class="auth-wrapper v2">
    <div class="auth-form">
      <div class="logo">
        <img src="assets/images/logo-dark.svg" alt="theme logo" />
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary"><b>Enter Verification Code</b></h2>
                <h4 class="mt-2">We send you on mail.</h4>
                <p class="f-16 mt-2"> We’ve send you code on john.****@company.com </p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <input
                aria-label="Please enter verification code. Character 1"
                autocomplete="off"
                class=""
                type="text"
                maxlength="1"
                value=""
                style="
                  width: 100%;
                  text-align: center;
                  margin: 8px;
                  padding: 10px;
                  border: 1px solid rgb(224, 224, 224);
                  border-radius: 4px;
                "
              />
            </div>
            <div class="d-flex align-items-center">
              <input
                aria-label="Please enter verification code. Character 1"
                autocomplete="off"
                class=""
                type="text"
                maxlength="1"
                value=""
                style="
                  width: 100%;
                  text-align: center;
                  margin: 8px;
                  padding: 10px;
                  border: 1px solid rgb(224, 224, 224);
                  border-radius: 4px;
                "
              />
            </div>
            <div class="d-flex align-items-center">
              <input
                aria-label="Please enter verification code. Character 1"
                autocomplete="off"
                class=""
                type="text"
                maxlength="1"
                value=""
                style="
                  width: 100%;
                  text-align: center;
                  margin: 8px;
                  padding: 10px;
                  border: 1px solid rgb(224, 224, 224);
                  border-radius: 4px;
                "
              />
            </div>
            <div class="d-flex align-items-center">
              <input
                aria-label="Please enter verification code. Character 1"
                autocomplete="off"
                class=""
                type="text"
                maxlength="1"
                value=""
                style="
                  width: 100%;
                  text-align: center;
                  margin: 8px;
                  padding: 10px;
                  border: 1px solid rgb(224, 224, 224);
                  border-radius: 4px;
                "
              />
            </div>
          </div>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-primary p-2">Continue</button>
          </div>
          <div class="d-flex mt-1 justify-content-between mt-4">
            <p class="text-muted"> Did not receive the email? Check your spam filter, or </p>
            <p class="text-primary">Resend code</p>
          </div>
          <hr />
          <h5 class="d-flex justify-content-center"> Did not receive the email? Check your spam filter, or </h5>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-outline-secondary bg-light text-secondary p-2"> Resend Code </button>
          </div>
        </div>
      </div>
    </div>
    <div class="auth-sidecontent">
      <div class="p-3 px-lg-5 text-center">
        <ngb-carousel class="carousel-dark" [showNavigationArrows]="false" [showNavigationIndicators]="true">
          <ng-template ngbSlide>
            <h1><b>Powerful and easy to use multi-purpose theme.</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
          <ng-template ngbSlide>
            <h1><b>Powerful and easy to use multi-purpose theme.</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
          <ng-template ngbSlide>
            <h1><b>Powerful and easy to use multi-purpose theme.</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
        </ngb-carousel>
        <img src="assets/images/authentication/code-verification2.svg" alt="images" class="img-fluid mt-3 w-75" />
      </div>
    </div>
  </div>
</div>
