.pnl-search {
    margin-top: 20px;
    width:100%;
    text-align: center;
}

.link {
    cursor: pointer;
    text-decoration-line: underline;
}

.feed-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 8px 9px;
    font-size: 30px;
  }