<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <ul ngbNav #nav="ngbNav" class="nav checkout-tabs mb-0">
          <li [ngbNavItem]="1">
            <a ngbNavLink>
              <div class="media align-items-center">
                <div class="avtar avtar-s">
                  <i class="ti ti-shopping-cart"></i>
                </div>
                <div class="media-body ms-3">
                  <h4 class="mb-0">Cart Details</h4>
                  <p class="text-sm mb-0">Product Added</p>
                </div>
              </div>
            </a>
            <ng-template ngbNavContent>
              <app-cart-detail></app-cart-detail>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>
              <div class="media align-items-center">
                <div class="avtar avtar-s">
                  <i class="ti ti-building-skyscraper"></i>
                </div>
                <div class="media-body ms-3">
                  <h4 class="mb-0">Billing Address</h4>
                  <p class="text-sm mb-0">Billing Information</p>
                </div>
              </div></a
            >
            <ng-template ngbNavContent>
              <app-billing></app-billing>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink
              ><div class="media align-items-center">
                <div class="avtar avtar-s">
                  <i class="ti ti-credit-card"></i>
                </div>
                <div class="media-body ms-3">
                  <h4 class="mb-0">Payment</h4>
                  <p class="text-sm mb-0">Add & Update Card</p>
                </div>
              </div></a
            >
            <ng-template ngbNavContent>
              <app-payment-detail></app-payment-detail>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>
