<div class="auth-main">
  <div class="auth-wrapper v2">
    <div class="auth-form">
      <div class="logo">
        <img src="assets/images/logo-dark.svg" alt="theme logo" />
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header text-center">
                <h2 class="text-secondary"><b>Check Mail</b></h2>
                <p class="f-16 mt-2"> We have sent a password recover instructions to your email. </p>
              </div>
            </div>
          </div>
          <div class="d-grid">
            <button type="button" class="btn btn-secondary">Open Mail</button>
          </div>
        </div>
      </div>
    </div>
    <div class="auth-sidecontent">
      <div class="p-3 px-lg-5 text-center">
        <ngb-carousel class="carousel-dark" [showNavigationArrows]="false" [showNavigationIndicators]="true">
          <ng-template ngbSlide>
            <h1><b>Power of React with Material UI</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
          <ng-template ngbSlide>
            <h1><b>Power of React with Material UI</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
          <ng-template ngbSlide>
            <h1><b>Power of React with Material UI</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
        </ngb-carousel>
        <img src="assets/images/authentication/check-mail2.svg" alt="images" class="img-fluid mt-3 w-75" />
      </div>
    </div>
  </div>
</div>
