<div class="row">
    <div class="col-md-12">
        <h1>Controle de atividades</h1>
        <h5>Grupo Argenta - Time de Inovação</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <p>Acesse os projetos/squads no menu principal.</p>
        <p>Dentro dos projetos, selecione a sprint (caso o projeto trabalhe com Scrum), a task e/ou a pessoa.</p>
        <br />
        <h3>Como entender a origem da informação?</h3>
        <br />
        <p>Posicione o mouse sobre a informação para ver a explicação referente.</p>
        <p>Clique sobre a informação para visualizar uma explicação mais precisa sobre a origem da respectiva informação, incluindo fórmulas e valores.</p>
        <p>Para checar a origem dos tempos, visualize a timeline de cada tarefa e calcule os tempos entre as trocas de status.</p>
        <br />
        <h3>Algumas informações importantes...</h3>
        <br />
        <p>Para a correta extração de informações, as equipes devem:</p>
        <ul>
         <li>Posicionar as tarefas corretamente dentro dos seus estados (em andamento ao iniciar o desenvolvimento, pendentes ao interromper o desenvolvimento, em testes ao iniciar os testes, aguardando deploy para produção ao concluir os testes...);</li>
         <li>Reprovar as tarefas sempre que elas não passarem pelo review ou pelos testes, retornando para o desenvolvedor;</li>
         <li>Abrir as tarefas com o tipo correto (melhoria ou bug);</li>
         <li>Abrir as sprints e encerrá-las no período estipulado;</li>
         <li>Evitar manter tarefas abertas nos boards por muitas sprints.</li>
        </ul>
    </div>
</div>