<div class="ms-auto">
  <ul class="list-unstyled">
    <li appToggleFullScreen class="pc-h-item">
      <a href="javascript:" title="click to theme view in full-screen" class="full-screen pc-head-link head-link-secondary me-0 mobile-menu"
        ><i class="feather icon-maximize"></i
      ></a>
    </li>
    <li class="pc-h-item">
      <a href="javascript:" class="full-screen pc-head-link head-link-secondary me-0 mobile-menu"
        ><i class="ti ti-logout me-2"></i></a>
    </li>
  </ul>
</div>
