<div class="card-body">
  <ng-scrollbar style="height: calc(100vh - 500px)" visibility="hover">
    <div class="scroll-block chat-message">
      <div class="message-out">
        <div class="msg-content bg-light-primary">
          <p>Hi Good Morning!</p>
          <p class="mb-0 text-muted text-sm"> 11:23 AM </p>
        </div>
      </div>
      <div class="message-in">
        <div class="msg-content bg-light-secondary">
          <p>Hi Good Morning!</p>
          <p class="mb-0 text-muted text-sm"> 11:23 AM </p>
        </div>
      </div>
      <div class="message-out">
        <div class="msg-content bg-light-primary">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s,
          </p>
          <p class="mb-0 text-muted text-sm"> 11:23 AM </p>
        </div>
      </div>
      <div class="message-in">
        <div class="msg-content bg-light-secondary">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s,
          </p>
          <p class="mb-0 text-muted text-sm"> 11:23 AM </p>
        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>

<div class="card-footer">
  <div class="chat-input">
    <input type="text" class="form-control" placeholder="Type a Message" />
    <div class="chat-input-btn">
      <a href="javascript:" class="avtar avtar-xs btn-link-secondary" title="attachment">
        <i class="ti ti-paperclip f-18"></i>
      </a>
      <a href="javascript:" class="avtar avtar-xs btn-link-primary" title="send">
        <i class="ti ti-send f-18"></i>
      </a>
    </div>
  </div>
</div>
